[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
boto3 = "*"
requests = "*"
urllib3 = "*"
python-dotenv = "*"
psycopg2 = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
